@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .hero {
        flex-direction: column;
    }
    #hero {
        padding: 30px 0 0 0;
    }
    .shapes img {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .human {
        flex-direction: column;
    }
    .human-text h1 {
        padding-top: 20px;
    }
    .have {
        flex-direction: column-reverse;
    }
    .have-text h1 {
        padding-top: 30px;
    }
    .interest-general {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .interest-block {
        margin-bottom: 30px;
    }
    .easy-general {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .easy-group {
        padding-bottom: 30px;
    }
    .date {
        flex-direction: column;
        align-items: center;
    }
    .date-input {
        padding: 30px 0;
    }
    .footer-navbar {
        flex-direction: column;
    }
    .footer-navbar p {
        padding-bottom: 30px;
    }
}

@media (max-width: 992px) {
    .together {
        flex-direction: column;
    }
    .together-text p {
        padding-bottom: 30px;
    }
    .another {
        flex-direction: column;
    }
    .another-text h1, p {
        margin: 0 auto;
        text-align: center;
    }
    .another-text button {
        display: flex;
        justify-content: center;
        margin: 0 auto 30px auto;
    }
    .together-text h1 {
        text-align: center;
    }
    .human-text h1 {
        text-align: center;
    }
    .hero-text h1 {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .hero img {
        width: 90%;
    }
    .shapes h1{
        width: 90%;
    }
    .shapes p {
        width: 90%;
    }
    .highest-general {
        flex-wrap: wrap;
    }
    .highest-text {
        padding-bottom: 30px;
    }
    .clerksy-general {
        flex-direction: column;
    }
    .clerksy h1 {
        padding-top: 100px;
    }
    .header-navbar {
        display: none;
    }
}

@media (max-width: 576px) {
    .hero h1 {
        width: 90%;
        margin: 0 auto;
        font-size: 44px;
    }
    .hero p {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .human img {
        width: 90%;
    }
    .human-text h1 {
        font-size: 44px;
    }
    .have img {
        width: 90%;
    }
    .have-text h1 {
        text-align: center;
        font-size: 44px;
    }
    .best-logos {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .best-logos img {
        padding: 0 0 30px 0;
    }
    .best h1 {
        font-size: 44px;
    }
    .highest h1 {
        width: 90%;
        margin: 0 auto;
        font-size: 44px;
    }
    .shapes h1 {
        font-size: 44px;
    }
    .together h1 {
        font-size: 44px;
    }
    .interest h1 {
        font-size: 44px;
    }
    .easy h1 {
        margin: 0 auto;
        width: 90%;
        font-size: 44px;
    }
    .easy p {
        margin: 0 auto;
        width: 90%;
    }
    .easy-general {
        flex-direction: column;
    }
    .easy-general img {
        padding: 30px 0;
    }
    .another-text h1 {
        width: 90%;
        margin: 0 auto;
        font-size: 44px;
    }
    .another img {
        width: 90%;
    }
    .clerksy h1 {
        font-size: 44px;
        width: 90%;
        margin: 0 auto;
    }
    .date-text h1 {
        font-size: 44px;
    }
    .date-input {
        width: 100%;
    }
    .date-group p {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .footer-general {
        flex-direction: column;
    }
    .footer-general h1 {
        padding: 20px 0;
    }
}

@media (max-width: 450px) {
    .together img {
        width: 90%;
    }
    .date-input input {
        width: 333px;
    }
    .footer-navbar p {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .footer-nav a {
        padding: 0 5px;
    }
}

@media (max-width: 400px) {
    .together-text h1 {
        width: 90%;
    }
    .together-text p {
        width: 90%;
    }
    .human-text h1 {
        width: 90%;
    }
    .have-text h1 {
        width: 90%;
        margin: 0 auto;
    }
    .have-text p {
        width: 90%;
    }
}

@media (max-width: 375px) {
    .human-text p {
        width: 285px;
    }
    .best-logos {
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .interest-block {
        width: 293px;
    }
    .interest-block h2 {
        width: 90%;
    }
    .date-input input {
        width: 233px;
    }
    .date-text h1 {
        text-align: center;
    }
}